html, body {margin: 0; padding: 0; background-color: black;}


header{
    color: white;
    padding: 10px;
    text-align: center;
}

input {color: white;}

#search{
    margin-top: 10px; 
    padding: 10px; 
    width: 50%; 
    border-radius: 15px;
    border: 1px solid white;
    background-color: transparent;
}

#showBookmark {margin-top: 10px;}

button{
    background-color: black; 
    color: white;
    border: none; 
    padding: 10px; 
    display: block;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#movie-list{
    display: flex; 
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.movieCard {
    position: relative;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    display: flex;
}

.movieCard:hover {opacity: 0.7;}

.movieCard .cardIn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: left;
}

.movieCard:hover .cardIn {opacity: 1; visibility: visible;}


.movieCard > img {width: 100%;}


.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.modalMain {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 600px;
    max-height: 70%;
    text-align: center;
    margin-top: 20px;
    overflow: auto;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
}

.modalMain > img {border-radius: 10px;}

#movieTitle {
    font-size: 24px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

